:root {
  --bg: #ffffff; /* 亮色背景 */
  --text-color: #333333; /* 深色文本 */
  --secondary-text-color: #666666; /* 次要文本颜色 */
  --title-bar-bg: #ffffff; /* 标题栏背景 */
  --button-bg: #f0f0f0; /* 按钮背景 */
  --button-color: #333333; /* 按钮文本颜色 */
  --button-hover-bg: #e0e0e0; /* 按钮悬停背景 */
  --item-bg: #f8f8f8; /* 列表项背景 */
  --title-bar-height: 60px; /* 标题栏初始高度 */
  --border: #efeff5;
}

[data-theme='dark'] {
  --bg: #101014; /* 暗色背景 */
  --text-color: #e0e0e0; /* 亮色文本 */
  --secondary-text-color: #aaaaaa; /* 暗色次要文本颜色 */
  --title-bar-bg: #18181c; /* 暗色标题栏背景 */
  --button-bg: #444444; /* 暗色按钮背景 */
  --button-color: #e0e0e0; /* 暗色按钮文本颜色 */
  --button-hover-bg: #555555; /* 暗色按钮悬停背景 */
  --item-bg: #3a3a3a; /* 暗色列表项背景 */
  --icon-filter: invert(1); /* 暗色模式下反转图标颜色 */
  --title-bar-height: 60px; /* 标题栏初始高度 */
  --border: #2d2d30;
}
